<form class="login-form">
  <div class="container">
    <h1>Вход</h1>
  </div>
  <div class="container login-container">
    {{{loginTextInput}}}
    {{{pwdTextInput}}}
  </div>
  <div class="container">
    {{{loginBtn}}}
    {{{regBtn}}}
  </div>
</form>
