<form class="login-form">
    <div class="container">
        <h1>Вход</h1>
    </div>
    <div class="container login-container">
        <div class="text-field">
            <label class="text-field__label" for="login">Логин</label>
            <input class="text-field__input" type="text" name="login" id="login" required="required" placeholder="Введите имя пользователя">
        </div>
        <div class="text-field">
            <label class="text-field__label" for="pwd">Пароль</label>
            <input class="text-field__input" type="text" name="password" id="pwd" required="required" placeholder="Введите пароль">
        </div>
    </div>
    <div class="container">
        <button type="submit" class="button" href="chat">Войти</button>
        <button class="button" href="registration">Зарегистрироваться</button>
    </div>
</form>
