<form class="registration">
        <div class="registration__title">
            Регистрация
        </div>
        <div class="registration__info">
            <div class="text-field">
                <label class="text-field__label" for="email">Почта</label>
                <input class="text-field__input" type="text" name="email"required="required" placeholder="Введите имя пользователя">
            </div> 
            <div class="text-field">
                <label class="text-field__label" for="login">Логин</label>
                <input class="text-field__input" type="text" name="login" required="required" placeholder="Введите имя пользователя">
            </div>
            <div class="text-field">
                <label class="text-field__label" for="first_name">Имя</label>
                <input class="text-field__input" type="text" name="first_name" required="required" placeholder="Введите имя">
            </div>
            <div class="text-field">
                <label class="text-field__label" for="second_name">Фамилия</label>
                <input class="text-field__input" type="text" name="second_name" required="required" placeholder="Введите фамилия">
            </div>
            <div class="text-field">
                <label class="text-field__label" for="phone">Телефон</label>
                <input class="text-field__input" type="text" name="phone" required="required" placeholder="Введите телефон">
            </div>
            <div class="text-field">
                <label class="text-field__label" for="password">Пароль</label>
                <input class="text-field__input" type="text" name="password" required="required" placeholder="Введите пароль">
            </div>
            <div class="text-field">
                <label class="text-field__label" for="pwd">Пароль ещё раз</label>
                <input class="text-field__input" type="text" name="pwd" required="required" placeholder="Введите пароль ещё раз">
            </div>
        </div>
        <div class="registration__btns">
            <button class="button" type="submit" href="chat">Зарегистрироваться</button>
            <button class="button" href="login">Войти</button>
        </div>
</form>
