$font-primary: 'Roboto';
$buttons-color: #04AA6D;
$title-font-size: 30px;
$small-font-size: 16px;
$font-size: 30px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error {
    width: 100vw;
    height: 100hv;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.error__text {
    font: $title-font-size $font-primary;
}

.error__message {
    font: $small-font-size $font-primary;
}

.button {
    background-color: $buttons-color;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 36px;
    opacity: 0.9;
    margin: 5px;
    padding: 5px;
    font: 100% $font-primary;
}